.projectList{
  width: 990px;
  margin: 0 auto;
  margin-top: 10px;
  .navbar{
    display: flex;
    justify-content: space-between;
    .tabBox{
      .dropdown{
        margin-right: 10px;
      }
    }
  }
}
