.index_centerZone {
  max-width: 980px;
  margin: 0 auto;
  .aDirectory {
    min-width: 86px;
    word-break: keep-all;
  }
  .secondaryDirectory {
    :global {
      .ant-tag { margin-bottom: 5px; }
    }
  }
}
