
.person_featured_papers {
  display: flex;
  flex-direction: column;
  .button_zone {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5px;
    align-items: flex-start;
  }
}
