.sec_header {
  border-bottom: solid 1px #ddd;
  margin-bottom: 8px;
  font-size: 18px;
}

.hideMoreBtn {
  display: none;
}

:global {
  .scoreTable {
    .score { width: 40px; text-align: right; padding: 0 4px }
  }
}
