
.person_publications {
  display: flex;
  flex-direction: column;

  .tabpane {

    .radiogroup { margin-bottom: 8px; }

    label {
      padding-left: 6px; padding-right: 6px;margin-top: 1px;
    }
    label.big { padding-left: 12px; padding-right: 12px; }
  }
}
