
.sec_header {
  border-bottom: solid 1px #ddd;
  margin-bottom: 8px;
  font-size: 18px;
}

.hideMoreBtn {
  display: none;
}

:global {
  .scoreTable {
    .score { width: 40px; text-align: right; padding: 0 4px }
  }
}

.Overrides(){
  .global{
    .fa {
      width: 20px;
    }
    .section_header{
      color: #428bca; font-size: 13px;
      flex-direction: row;
      justify-content:space-between;
    }
  }
}

.Overrides() !important;
