.container {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
  margin-left: -188px;
}

.codeBox {
  width: 500px;
  margin: 0 0 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
  border: 1px #c3c4d0 solid;
  border-top: 2px #428bca solid;
  border-radius: 4px;
}
.codeBox:hover{
  box-shadow: 5px 5px 3px #eee;
}

.forgot_top {
  padding: 30px 0;
  text-align: center;
  h3{
    font-size: 22px;
  }
}
.form_mod{
  padding: 60px 10px;
  background: #fafafa;
}
