.addButton{float:right;margin-right:10px}
:global{
  .ant-input-affix-wrapper .ant-input:not(:last-child) {
    width: 200px;
    float:right;
    margin-right: 10px;
  }
  .ant-input-affix-wrapper .ant-input-suffix {
    right: 20px;
  }
}
