@import "../../themes/vars.less";

:global .section_header {
  width: 99%;
}

.content {
  display: flex; flex-direction: column; flex-grow: 2; align-self: center;
  max-width: @max-width-page; min-width: @min-width-page;
  width: 98%; height: 100%;
  border: solid 0px red;

  .header { font-size: 24px; }
  .addButton { float: right; margin-right: 10px }
  .deleteButton { float: right; margin-right: 10px }
}

