@import "~themes/vars";

.expertBase {
  .pageTitle { margin-bottom: 20px; }

  .message {
    margin: 0 8px 8px 8px;
  }
}

// TODO 整理一下

.addButton { float: right; margin-right: 10px }

:global {
  .ant-input-affix-wrapper .ant-input:not(:last-child) {
    width: 200px;
    float: right;
    margin-right: 10px; margin-bottom: 6px;
  }
  .ant-input-affix-wrapper .ant-input-suffix {
    right: 20px;
  }
}

.searchArea { width: 210px; float: right; margin-right: 15px }

.orgArea { clear: both;
  .noResult { color: #ddd; margin: 0 auto; font-size: 20px; font-weight: bolder; width: 400px; text-align: center }
}

.buttonArea {
  float: right; margin: 5px 15px 0 0;
  .iconApp { font-size: 20px; margin-right: 10px }
  .iconBars { font-size: 30px }
}

.pageTitle {
  display: flex; flex-direction: row; align-items: baseline;
  .seeAll {
    font-size: 14px; margin-left: 12px;
  }
}
