//嘉宾信息
.talks{
  list-style: none;
  border: 1px solid #e9e9e9;
  background: #fff;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px;
  .left{
    float:left;
    img{
      width: 60px;
    }
  }
  .right{
    flex: 1;
    margin-left: 20px;
    td {
      padding-bottom: 10px;
    }
    tr td:nth-child(odd) {
      text-align: right;
      width: 8%;
      vertical-align: top;
    }
    .nameWrap{

    }
    .activityWrap{
      p{
        margin-top: 15px;
      }
    }
  }
}
