@import "~themes/vars";

.logoZones {
  display: flex; flex-direction: row;
  height: 66px; line-height: 66px;

  .header_logo {
    font-size: 20px;
  }

  .header_subTitle { margin-left: 10px; color: black; font-size: 16px; }

}

.header_info {
  margin: 0 12px 0 20px; height: 66px; line-height: 66px;
}

.Overrides() {
  .header {
    //background-color: black;
  }
}

.Overrides() !important;
