@import "../themes/vars.less";

.layout {
  height: 100%;

  .sider {
    border: solid 1px yellow;
  }

  .content {
    display: flex; flex-direction: column;
    background-color: @bg-color-content;
  }

  .footer {
    height: 44px; font-size: @font-size-lg;
    text-align: center; padding: 0;
    background-color: @bg-color-footer;
  }
}
