@import "../themes/vars.less";

.layout {

  .sider {
    border: solid 1px yellow;
  }

  .footer {
    height: 44px; font-size: @font-size-lg;
    text-align: center;
    background-color: @bg-color-footer;
  }
}
