@import "~themes/vars";

.display {
  display: flex;
  flex-direction: row;
  min-height: 800px;
  .result {
    min-height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    //box-shadow: 0 0 5px #d3d3d3;
    padding-left: 12px;
    padding-right: 12px;
    min-width: 47%;
    .title {
      margin-bottom: 25px;
      margin-top: 10px;
      border-bottom: 1px dotted #e4e9f0;
      .heading {
        display: inline-block;
        border-bottom: 2px solid #428bca;
        line-height: 53px;
        .content {
          margin-left: 5px;
        }
      }
    }

    .btn{
      margin-top: 30px;
      margin-left: 265px;
    }
    .rollback{
      border: 0px solid #d9d9d9;
    }
  }

}



