@import "~themes/vars";

.page {
  min-height: 100%;
  //box-shadow: 0 0 5px #d3d3d3;
  padding-left: 12px;
  padding-right: 12px;
  min-width: 50%;
  .title {
    margin-bottom: 25px;
    margin-top: 10px;
    border-bottom: 1px dotted #e4e9f0;
    .heading {
      display: inline-block;
      border-bottom: 2px solid #428bca;
      line-height: 33px;
      .content {
        margin-left: 5px;
      }
    }
  }
  .content {
    .item {
      font-size: 13px;
      line-height: 1.6;
      margin: 0 0 10px;
      .itemName {
        color: #777;
      }
      .itemContent {
        color: #777;
      }
      .pho{
        width: 150px;
        margin-top: 20px;

      }
    }
  }
}


