.pageTitle {
  margin-bottom: 12px;
}
:global .toolsArea{
  float:right;
}

.twoColumnsShowRadio {
  width: 50%;
  margin-right: 0;
}
:global {
  .ant-table .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    text-align: left!important;
  }
}
