@import "~themes/vars";

.commentStyles {
  border: solid 1px #e5e6e9;
  border-top: none;
  -webkit-box-shadow: 0 2px 6px rgba(200, 200, 200, 0.4);
  box-shadow: 0 2px 6px rgba(200, 200, 200, 0.4);
  border-radius: 2px;
  margin-top: -17px;
  margin-bottom: 10px;
  background-color: #fff;
  .inputStyle {
    text-align: center; height: auto; margin-bottom: 12px;
    :global {
      .CKeidtorStyle {
        .cke_contents { height: 100px !important; min-height: 60px !important; }
      }
    }
    .ckeditorConfirm { position: absolute; bottom: 1px; right: 2px; }
    //.inputStyle{text-align: center;height: 38px;
    //:global .ant-btn-lg { border-radius: 12px; height: 28px; }
    //i { color: #aaaaaa; cursor: pointer; margin: -10px 5px 0 0; }

    .ckEditorSubmitBtn {
      display: flex; justify-content: flex-end;
      margin-top: 5px;
    }
  }
  //:global .ant-input-lg { padding: 6px 7px; height: 28px; border-radius: 15px; }

  .commentAndTags{
    display: flex;
    flex-direction: row;
    //justify-content: flex-start;
    border-top: 1px solid #e5e6e9;
    padding: 15px 15px 15px 15px;

    .iconStyle {
      cursor: pointer;
      .total { margin: 0 5px }
      i { cursor: pointer }
      .message { font-size: 18px }
    }

    .tags{
      border-left: 1px solid #e5e6e9;
      margin-left: 10px;
      padding-left: 5px;
    }
  }


  :global .ant-input-affix-wrapper .ant-input:not(:last-child) {
    width: 100%;
    float: right;
    margin-right: 10px;
    margin-bottom: 6px;
  }
  :global .ant-form-inline .ant-form-item { margin-right: 0 }
  :global .ant-form-inline .ant-form-item:first-child { width: 97%; }
  //:global .ant-form-inline .ant-form-item:first-child { width: 80%; }
  :global .ant-form-inline .ant-form-item > div { width: 100%; }

  .commentArea {
    //.title {
    //  padding: 2px 6px;
    //  margin: 0 21px;
    //  color: #47619e;
    //  font-size: 11px;
    //  border-top: 1px solid #e5e6e9;
    //}
    .commentList {
      border-top: 1px solid #d9d9d9;
      margin-left: 15px;
      margin-right: 15px;
      .userInfo {
        margin-bottom: 7px;
        padding-top: 15px;
        display: flex; flex-direction: row;
        //border-top:1px solid #e5e6e9;
        .name {
          min-width: 66px;
          color: #47619e;
          font-weight: 600;
        }
        .delCommentBtn {
          font-size: 11px;
          color: red;
          float: right;
          margin: 4px 15px 0 25px;
          cursor: pointer;
        }
        .commentBlock {
          .commentsChildren { color: #333333; }
          div { color: #808080; }
        }
      }
      .cardMore {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        margin-bottom: 10px;
        border-top: 1px solid #d9d9d9;
        padding-top: 15px;
      }
    }
  }
}

:global {
  .cke_toolbar_last { display: none }
}
