/**
 * Created by zhanglimin on 2017/09/10.
 */
@import "../../../themes/vars.less";
.commentStyles{
  .inputStyle{min-height:100px;}
  :global .ant-form-inline .ant-form-item:first-child{ width: 68%;}
  :global .ant-form-inline .ant-form-item>div{ width: 100%;}
  .addCommentButton{margin-left:5px}
}
