.createproject {
  min-width: 900px;
  margin: 0 auto;
  .newOrgBtn {
    margin-left: 10px;
  }
  .navbar { display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  :global {
    .ant-form-item { margin-bottom: 0px; }
    .ant-divider-horizontal {margin: 12px 0;}
  }

}

.cover {
  position: relative;
  z-index: 3;
  background: rgba(0, 0, 0, 0);
}

.none {
  pointer-events: none;
}

.outsideSave {
  //width: 100px;
  display: flex;
  justify-content: center;
  .sumbitBtn {
    width: 200px;
    margin-top: 10px;
    background-color: #108ee9;
    color: white;
  }
}


