.projectList {
  width: 990px;
  margin: 0 auto;
  margin-top: 10px;
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .tabBox {
      .dropdown {
        margin-right: 10px;
      }
    }
  }
  .paginationWrap {
    display: flex; justify-content: center; flex: 1;
    padding: 15px;
  }
}

:global {
  #deleteConfirm {
    .ant-popover-inner-content { padding: 12px 16px;border-radius: 2px }
  }
}
