@import "../../themes/vars.less";

.content {
  display: flex; flex-direction: column; flex-grow: 2; align-self: center;
  max-width: @max-width-page; min-width: @min-width-page;
  width: 98%; height: 100%;
  border: solid 0px red;

  .header { font-size: 24px; }
}

