.currentRoster{
  display: flex;
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 41px;
  .currentRosterName {
    margin-right: 10px;
  }
  :global .ant-tabs-bar{
    margin-bottom: 0px;
  }
}
