/*div { border: solid 1px red; }*/

body { color: black; }

.react-autosuggest__container { border: solid 1px black; color: black !important }

.react-autosuggest__container { border: solid 1px black; }
