
.marginTop {
  margin-top: 20px;
}

.marginLeft {
  margin-left: 10px;
}

.detailSeminar {
  font-size: 13px;
  margin-top: 20px;
  h4 {
    text-align: center;
    font-size: 18px;
    //font-weight: 300;
  }
  .messages {
    .marginTop;
    .speakerAvatar {
      text-align: center;
      img {
        width: 160px;
        height: 160px;
        border-radius: 10px 10px;
      }
    }
    i {
      width: 20px;
    }
    li p {
      margin: 0 0 10px;
    }
    .center {
      display: block;
      text-align: -webkit-center;
    }
  }
  h5 {
    line-height: 20px;
    font-size: 17px;
    font-weight: 300;
    margin: 10px 0;
  }

  .action {
    float: right;
    .marginTop;
  }

  .rate {
    .marginTop;
  }

}

:global {
  .item {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    .avatar_zone {
      padding: 6px;
    }
    .avatar {
      width: 90px;
    }
    .info_zone {
      margin-left: 10px;
      font-size: 13px;
      color: #333;

      .title {
        display: flex;
        flex-direction: row;
        margin: 8px 0 0 0;

        h2, h2 a {
          font-size: 15px;
          font-family: STHeitiSC-Medium;
          font-weight: normal;
        }
      }
      .contact_zone {
        text-align: left;
      }
    }
  }
}

table td {
  vertical-align: top !important;
}

.workshopTetail > div {
    margin: 10px 0;
}
