.subscription {
  color: #666;

  .basic {
    input { width: 400px; }
  }
  .content {
    .tCenter { display: flex; justify-content: center; }
    .book { margin-right: -12px; border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
    .cancelBook { text-align: right; }
    .bookSpan { color: #1890ff; background-color: #ffffff; border: 1px solid #1890ff; padding: 10px 50px; border-radius: 20px; }
  }
}

.bookModal {
  .register { text-align: center; }
}
