@import "~themes/vars";

.searchAssistant {
  display: flex; flex-direction: column;
  margin: 5px; padding: 8px 12px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 2px;
  background-color: rgb(249, 249, 249);
  color: #555;

  //font-size: 14px;
  //height: 100px;

  .box {
    display: flex;
    flex-direction: row;
    .leftBox {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      .rightBox {
        display: flex;
        flex-direction: column;
      }
      .width {
        width: 290px;
      }
      .Box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }
  .w {
    width: 200px;
  }
  .ww {
    display: inline-block;
    width: 200px;
    display: flex;
    flex-direction: row;
  }
  .box1 {
    display: flex;
    flex-direction: row;
  }
  .paddingLeft {
    padding-left: 17px;
  }
  .suporordinateWord {
    color: red;
  }
  .subordinateWord {
    color: #3e9bc9;
  }
  .kk {
    display: flex;
    flex-direction: column;
  }
  .ll {
    display: flex;
    flex-direction: row;
  }
  .paddingLeftButton {
    padding-left: 10px;
  }

}
