@import "../../themes/vars.less";

.searchComponent {
  display: flex; flex-direction: column; // min-width: 800px;

  .searchContent {
    //max-width: @max-width-page;
    display: flex; flex-direction: column;
    //flex-wrap: wrap-reverse;
    .leftRight {
      display: flex; flex-direction: row; justify-content: space-between;
      .personList { flex: 2; }
      .searchKgContent { flex: 1; margin-left: 1% }
    }

    .paginationWrap {
      display: flex; justify-content: center; flex: 1;
      padding: 15px;
    }
  }
}

//
//.topZone {
//  display: flex; flex-direction: row; justify-content: flex-start;
//  max-width: @max-width-page;
//  .searchZone { width: 100%; }
//  .rightZone { }
//}
//
//.top {
//  display: flex; flex-direction: row; justify-content: space-between; align-items: center;
//  margin-bottom: 10px;
//  .searchWrap {
//    display: flex; flex-direction: row; align-items: center;
//    h1 { margin-right: 10px; }
//  }
//}
//
//.viewTab {
//  :global .ant-tabs-nav-wrap { padding-left: 30px; }
//}
//
//.view { }
//
//.searchResult { min-height: 100px; }
//
//.mapView {
//  display: flex; flex-direction: column; align-content: center;
//  height: 720px;
//
//  .map { flex: 1; }
//  .quickLinks {
//    margin: 60px 16px 16px 16px; width: 120px;
//  }
//}
//

//
//.spinWrap {
//  text-align: center;
//  //background: rgba(0,0,0,0.05);
//  //border-radius: 4px;
//  //margin-bottom: 20px;
//  padding: 30px 50px;
//  margin: 20px 0;
//}
//
//.maxWidth {
//  max-width: @max-width-page;
//}
//

//
//@media (min-width: 767px) {
//  .personAndKg {
//    flex-wrap: nowrap;
//  }
//}
