@import "~themes/vars";

.searchAssistant {
  display: flex; flex-direction: column;
  margin: 5px 2px; padding: 8px 12px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 2px;
  background-color: @background-color-gray; //rgb(249, 249, 249);
  color: #555;

  //font-size: 14px;
  //height: 100px;

  .box {
    display: flex; flex-direction: row;

    .leftBox {
      display: flex; flex-direction: row; justify-content: flex-start; flex-wrap: wrap;

      .rightBox { display: flex; flex-direction: column; }

      .width { width: 290px; }

      .Box { display: flex; flex-direction: row; justify-content: flex-start; }
    }
  }

  .w { width: 200px; }

  .ww { display: block; width: 200px; display: flex; flex-direction: row; flex-shrink: 0; }

  .box1 {
    display: flex; flex-direction: row;

    .hypernym { color: red; }

    .hyponym {color: #3e9bc9;}
  }

  .box1, .leftBox {
    :global {
      .ant-checkbox-wrapper {
        margin-left: 0;margin-right: 8px;
        padding-left: 4px;
        padding-bottom: 1px;
      }
      .ant-checkbox-wrapper:hover {
        border-radius: 2px;
        background-color: #eee;
      }
    }
  }

  .paddingRight { padding-right: 15px; }

  .kk { display: flex; flex-direction: column; }

  .ll { display: flex; flex-direction: row; }

  .paddingLeftButton { padding-left: 10px; }

  .boxButton {
    margin-left: 200px;margin-top: 8px;

    :global .ant-btn {padding: 0 18px 0 18px;}
  }
}
