.expert_map {
  border-bottom: solid 1px #ddd;
}
.mapshow{

}
.cont1{
  clear: both;
  padding: 8px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  a:link {
    color: #00F;
    text-decoration: none;
  }
  a:visited {
    color: #00F;
    text-decoration: none;
  }
  a:hover {
    color: #c00;
    text-decoration: underline;
  }
  ul {
    list-style: none;
  }
}
.tabs0{
  margin-left:100px;
  height: 24px;
  width: 230px;
  border: 1px solid #cbcbcb;
  background-color: #f2f6fb;
  font: 12px "宋体";
  text-align: center;
}
.menu0 {
  width: 230px;
}
.menu0 li {
  display: block;
  float: left;
  padding: 4px 0;
  width: 45.5px;
  text-align: center;
  cursor: pointer;
  background: #FFFFff;
  border-right:1px solid #cbcbcb;
}
.menu0 li.hover {
  background: #f2f6fb;
  font-weight:bold;
}
.main0 ul {
  display: none;
}
.main0 ul.block {
  display: block;
}
.lab1{
  float: left;
  font-size: 12px;
}
.main1{
  margin:20px  0 5px 0;
}
.switch{
  float: right;
}

.roundImgContainer {
  // box-shadow: 0px 0px 5px blue;
  cursor: pointer; z-index: 10000; position: absolute; border-radius: 50%;

  .imgWrapper {
    z-index: 10001; border: 1px solid white; position: absolute;
    border-radius: 50%; overflow: hidden;
    box-shadow: 0px 0px 5px #333;

    img { background: white; }
  }
  .imgWrapper1 {
    z-index: 10001; border: 1px solid white; position: relative;
    box-shadow: 0px 0px 5px #333;
  }
}
