@import "../../themes/vars.less";

.expertMap {
  display: flex; flex-direction: column; flex-grow: 2;
  border-bottom: solid 1px #ddd;

  .headerLine {
    display: flex; flex-direction: row; justify-content: space-between;
    flex: 0;
    margin: 12px 0 5px 0;
    .scopes { display: flex; align-items: baseline; align-self: center; }
  }

  .map {
    display: flex; flex-direction: row; flex: 3; margin-bottom: 24px;
    box-shadow: 1px 1px 5px 4px #eee, 0 0 3px black;

    :global #allmap {
      display: flex; flex: 2; background-color: rgb(245, 243, 240);
    }

    .right {
      display: flex; flex-direction: column;
      width: 250px; background-color: rgb(245, 243, 240); // rgb(171, 193, 219);

      .scrollable {
        display: flex; flex: 1; height: 50px;
        overflow-y: visible; overflow-x: hidden; overflow-y: scroll;
        background-color: #fefefe;

        .border {
          display: flex; flex-direction: column; justify-content: flex-start; flex: 1;
          padding: 8px;
        }
      }
    }

    :global {
      .em_report { display: none }
    }

  }

}

:global {
  .popup {
    border: solid 0px red; width: 360px; height: 100px;
  }

  .personInfo {
    display: flex; flex-direction: row; flex: 0;

    img.img { width: 80px; }

    .info {
      display: flex; flex-direction: column; flex: 2;
      padding-left: 8px;

      .nameLine {
        //display: flex; flex-direction: row;
        .name {
          //flex: 2;
          font-size: 15px;
          font-family: "STHeitiSC-Medium", "STHeiti", "Heiti SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft Yahei", SimHei, "AvenirNext-Regular", "Helvetica Neue", "lucida grande", "PingFangHK-Light", "WenQuanYi Micro Hei", "Droid Sans", "Roboto", Helvetica, Tahoma, Arial, "sans-serif";
          font-weight: normal;
          color: #101010;
        }
        .right { float: right; color: #A52A2A; margin-right: 16px; }
      }

    }
  }

  .roundImgContainer {
    // box-shadow: 0px 0px 5px blue;
    cursor: pointer; z-index: 10000; position: absolute; border-radius: 50%;

    .imgWrapper {
      z-index: 10001; border: 1px solid white; position: absolute;
      border-radius: 50%; overflow: hidden;
      box-shadow: 0px 0px 5px #333, 0 0 5px #333 inset;

      img { background: white; }
    }
    .imgWrapper1 {
      z-index: 10001; border: 1px solid white; position: relative;
      box-shadow: 0px 0px 5px #333;
    }
  }

  #flowInfo {
    z-index: 10001;
    position: absolute; overflow: hidden;
    right: 12px; top: 187px; width: 248px; bottom: 12px;
    word-wrap: break-word; word-break: break-all;
    border: 1px solid #eee; border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 5px #666;
    padding: 8px;
    overflow: scroll;
  }

}

.legend {
  display: flex; flex-direction: column; flex: 0 auto;
  background-color: #fefefe;
  word-wrap: break-word; word-break: break-all;
  border-bottom: #666; padding: 8px 16px 8px 8px;
  margin-bottom: 8px;
  overflow: hidden;

  .title { font-weight: bold; margin-left: 7px; }
  .t { margin-bottom: 3px;
    img { float: left; margin-left: 2px; }
    img.icon { margin-left: 10px; }
    img.icon2 { margin-left: 12px; }
    div { float: left; line-height: 24px; padding-left: 10px; padding-top: 5px; }
  }
  .container {
    display: flex; width: 220px; height: 20px;
    align-items: flex-end; margin-left: 3px;

    div {
      width: 40px; height: 15px; color: #008cff; text-align: center; border-right: white;
    }
    .label { width: 100px; color: #333333; }
    .text { color: #333333 }
    .item1 { background-color: #008cff; color: #008cff; }
    .item2 { background-color: #ffbf00; color: #ffbf00; }
    .item3 { background-color: #ff0000; color: #ff0000; }
    .item4 { background-color: #ff00ed; color: #ff00ed; }
    .item5 { background-color: #9c00ff; color: #9c00ff; }
  }
}

