.expertMap {
  border-bottom: solid 1px #ddd;
  display: flex; flex-direction: column; flex-grow: 2;
}

:global {
  .popup {
    border: solid 0px red; width: 360px; height: 100px;
  }

  .personInfo {
    display: flex; flex-direction: row; flex: 0;

    img.img { width: 80px; }

    .info {
      display: flex; flex-direction: column; flex: 2;
      padding-left: 8px;

      .nameLine {
        //display: flex; flex-direction: row;
        .name {
          //flex: 2;
          font-size: 15px;
          font-family: "STHeitiSC-Medium", "STHeiti", "Heiti SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft Yahei", SimHei, "AvenirNext-Regular", "Helvetica Neue", "lucida grande", "PingFangHK-Light", "WenQuanYi Micro Hei", "Droid Sans", "Roboto", Helvetica, Tahoma, Arial, "sans-serif";
          font-weight: normal;
          color: #101010;
        }
        .right { float: right; color: #A52A2A; margin-right: 16px; }
      }

    }
  }

  .roundImgContainer {
    // box-shadow: 0px 0px 5px blue;
    cursor: pointer; z-index: 10000; position: absolute; border-radius: 50%;

    .imgWrapper {
      z-index: 10001; border: 1px solid white; position: absolute;
      border-radius: 50%; overflow: hidden;
      box-shadow: 0px 0px 5px #333;

      img { background: white; }
    }
  }

  #flowInfo {
    z-index: 10001;
    position: absolute; overflow: hidden;
    right: 12px; top: 112px; width: 248px; bottom: 12px;
    word-wrap: break-word; word-break: break-all;
    border: 1px solid #eee; border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 5px #666;
    padding: 8px;
    overflow: scroll;
  }

}

.cont1 {
  clear: both;
  padding: 8px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  a:link {
    color: #00F;
    text-decoration: none;
  }
  a:visited {
    color: #00F;
    text-decoration: none;
  }
  a:hover {
    color: #c00;
    text-decoration: underline;
  }
  ul {
    list-style: none;
  }
}

.tabs0 {
  margin-left: 100px;
  height: 24px;
  width: 230px;
  border: 1px solid #cbcbcb;
  background-color: #f2f6fb;
  font: 12px "宋体";
  text-align: center;
}

.menu0 {
  width: 230px;
}

.menu0 li {
  display: block;
  float: left;
  padding: 4px 0;
  width: 45.5px;
  text-align: center;
  cursor: pointer;
  background: #FFFFff;
  border-right: 1px solid #cbcbcb;
}

.menu0 li.hover {
  background: #f2f6fb;
  font-weight: bold;
}

.main0 ul {
  display: none;
}

.main0 ul.block {
  display: block;
}

.headerLine {
  display: flex; flex-direction: row; justify-content: space-between;
  flex: 0;
  margin: 12px 0 5px 0;
  .scopes { display: flex; align-items: baseline; align-self: center; }
}

.switch {
  float: right;
}

:global {
  .em_report { display: none }
  .mapshow {
    display: flex; flex: 2; margin-bottom: 24px;
    box-shadow: 1px 1px 5px 4px #eee, 0 0 3px black;
    #allmap {
      display: flex; flex: 2;
    }
  }

}
