@import "../../themes/vars.less";

:global {
  .icon {
    background-image: url("/sys/huawei/icon.png");
  }
}

.rizAll {
  display: flex; flex-direction: column; width: 230px;
  box-shadow: 0 0 4px white;

  .name {
    display: flex; flex-direction: row;
    font-size: @font-size-lg; color: #999999;
    margin-bottom: 10px;
    .titleIcon{
      width: 25px; height: 22px;
      background-position: -137px -512px;
    }
  }
  .statistics{
    font-size: @font-size-lg;
    margin-bottom: 10px;
    .count{
      color: #f1742f;
      margin-left: 10px;
      margin-right: 20px;
    }
  }

  //.img {
  //  display: flex; justify-content: center;
  //  img { height: 192px; }
  //}
  //
  //.info {
  //  display: flex; flex-direction: column; flex: 1;
  //  padding: 8px 4px; margin: 8px 0 4px 0;
  //}
  //.tag { margin-bottom: 1px; }
  //
  //.images {
  //  display: flex; justify-content: flex-start; flex-wrap: wrap;
  //
  //  .imgOuter {
  //    width: 43px; height: 46px; margin-bottom: 4px; margin-right: 3px;
  //    border: solid 1px white;
  //
  //    .imgBox {
  //      overflow: hidden; width: 41px; height: 44px;
  //      img { width: 41px; }
  //    }
  //    .tooltip {
  //      visibility: hidden; position: relative;
  //      background: rgba(0, 0, 0, 0.75); color: white;
  //      padding: 2px 8px; border-radius: 2px;
  //      top: -100px; width: 100px;
  //    }
  //  }
  //  .imgOuter:hover {
  //    border: solid 1px rgba(0, 0, 255, 0.7);
  //    box-shadow: 0 0 1px rgba(0, 0, 255, 1), 0 0 1px 0px white inset;
  //    .tooltip { visibility: hidden; }
  //  }
  //}
}

//:global {
//
//  .rizAll {
//    display: flex; flex-direction: column; width: 230px;
//
//    //background-color: rgba(255, 255, 255, 0.2);
//    box-shadow: 0 0 4px white;
//
//    .name {
//      a { font-size: 18px; font-weight: lighter; color: #101010;
//        font-family: "STHeitiSC-Medium", "STHeiti", "Heiti SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft Yahei", SimHei, "AvenirNext-Regular", "Helvetica Neue", "lucida grande", "PingFangHK-Light", "WenQuanYi Micro Hei", "Droid Sans", "Roboto", Helvetica, Tahoma, Arial, "sans-serif";
//      }
//      a.zh { font-size: 14px; }
//    }
//
//    .img {
//      display: flex; justify-content: center;
//      img { height: 192px; }
//    }
//
//    .info {
//      display: flex; flex-direction: column; flex: 1;
//      padding: 8px 4px; margin: 8px 0 4px 0;
//    }
//    .tag { margin-bottom: 1px; }
//
//    .images {
//      display: flex; justify-content: flex-start; flex-wrap: wrap;
//
//      .imgOuter {
//        width: 43px; height: 46px; margin-bottom: 4px; margin-right: 3px;
//        border: solid 1px white;
//
//        .imgBox {
//          overflow: hidden; width: 41px; height: 44px;
//          img { width: 41px; }
//        }
//        .tooltip {
//          visibility: hidden; position: relative;
//          background: rgba(0, 0, 0, 0.75); color: white;
//          padding: 2px 8px; border-radius: 2px;
//          top: -100px; width: 100px;
//        }
//      }
//      .imgOuter:hover {
//        border: solid 1px rgba(0, 0, 255, 0.7);
//        box-shadow: 0 0 1px rgba(0, 0, 255, 1), 0 0 1px 0px white inset;
//        .tooltip { visibility: hidden; }
//      }
//    }
//  }
//
//}
