
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
  //justify-content: center;
  padding-top: 20px;
  align-items: center;
  h1 {
    margin: 20px;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.commonSearch {
  margin-top: 10px;
}


.container {
  flex-direction: row;
  margin: 50px 20px;
  font-size: 16px;
  .headline {
    display: block;
    margin: 10px 0 20px;
    border-left: 1px solid #e4e9f0;
    h2 {
      margin: 0 0 -2px 0;
      padding-left: 5px;
      display: inline-block;
      border-left: 3px solid #428bca;
    }
  }
  .orgList {
    text-align: center;
    li{
      color: #343F51;
      height: 32px;
      line-height: 32px;
    }
    li:nth-child(even){
      background: #ffffff;
    }
    li:nth-child(odd){
      background: rgba(32,61,128,0.18);

    }
  }
}
