
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
  //justify-content: center;
  padding-top: 20px;
  align-items: center;
  h1 {
    margin: 20px;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

.commonSearch {
  margin-top: 10px;
}

.container {
  flex-wrap: wrap-reverse;
  flex-direction: row;
  margin: 50px 20px;
  font-size: 16px;
  .headline {
    display: block;
    margin: 10px 0 0 10px;
    border-left: 1px solid #e4e9f0;
    h2 {
      margin: 0 0 -2px 0;
      padding-left: 5px;
      display: inline-block;
      border-left: 3px solid #428bca;
    }
  }
  //学会机构
  .orgList {
    text-align: center;
    .orgCard {
      margin: 20px 0;
      h3 {
        float: left !important;
        width: auto !important;
      }
      span {
        float: left;
        color: #428bca;
        font-size: 12px;
      }
      li {
        margin: -20px;
      }
    }
    img {
      width: 50px;
      height: 50px;
      padding: 10px 10px;
    }
  }
  //学会活动
  .seminar {
    li {
      list-style: none;
      overflow: hidden;
      padding: 20px 0 18px;
      border-bottom: 1px solid #eff3f8;
    }
    .time {
      width: 60px;
      height: 70px;
      border-radius: 5px;
      overflow: hidden;
      text-align: center;
      margin-right: 15px;
      float: left;
      em {
        display: block;
        line-height: 19px;
        font-style: normal;
        color: #fff;
        background-color: #1677cb;
      }
      .bot {
        border: 1px solid #ddd;
        span {
          display: block;
          line-height: 1;
          color: #1677cb;
          font-size: 14px;
          b {
            font-weight: normal;
            font-size: 24px;
          }
        }
        strong {
          display: block;
          color: #9898a8;
          font-size: 14px;
          font-weight: normal;
          line-height: 20px;
        }
      }
      .strong {
        display: block;
        color: #9898a8;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
      }

    }

  }

}
