.inputStyle{ display:inline-block;width:48%}
.inputStyle:first-child{margin:0 14px 5px 0}
.inputStyle:nth-child(3){margin-right:14px }
.searchArea{width:200px;float:right;margin-right:10px}
.buttonArea{float:right;margin-right:20px}
.tableArea{margin-top:34px}


