.addNewTask {
  .checkBox { margin-left: 20px; display: inline-block; }
  .outsideSave {
    //width: 100px;
    display: flex;
    justify-content: center;
  }
  .tooltipe {
    color: #999;
  }
  :global {
    .ant-form-item { margin: 0!important; }
  }
}

