@import "../../../themes/vars.less";

.statistics {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #e5e6e9;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 6px rgba(200, 200, 200, 0.4);
  box-shadow: 0 2px 6px rgba(200, 200, 200, 0.4);
  padding: 8px;
  min-width: 1200px;
  .title {
    display: flex;
    font-weight: bold;
    font-size: @font-size-lg;
    color: #999999;
    margin-left: 10px;
    i {
      margin-top: 4px;
      margin-right: 5px;
    }
    .titleIcon {
      width: 22px; height: 22px;
      background-position: -70px -511px;
    }
  }

  .contentBasic {
    width: 160px;
    .num {
      color: #f1742f;
      font-size: 15px;
    }
  }

  .contentLegend {
    width: 180px;
    margin-left: 10px;
    .legend {
      display: flex;
      justify-content: flex-start;
      line-height: 18px;
      height: 18px;
      margin-top: 6px;
      .label {
        color: #333333;
      }
      .hColor1 {
        background-image: -webkit-linear-gradient(to right, #ffffff, rgb(255, 127, 80));
        background-image: linear-gradient(to right, #ffffff, rgb(255, 127, 80));
        width: 100px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        padding: 0px 5px;
      }
      .eColor {
        background-color: #8EC267;
        width: 50px;
      }
      .pColor {
        background-color: #92D1FF;
        width: 50px;
      }
      .lColor {
        background-color: #ccc;
        width: 50px;
      }
    }
  }

  .contentHindexCition {
    width: 200px;
    .hTitle {
      font-size: 12px;
    }
    .hBar {
      display: flex;
      color: #333333;
      font-size: 12px;
      justify-content: flex-start;
      margin-top: 1px;
      .itemAxias {
        width: 40px;
        height: 21px;
        line-height: 21px;
        text-align: right;
        margin-right: 10px;
      }
      .item1 {
        background-color: #D7EEF4;
        text-align: center;
        margin-top: 2px;
        padding-top: 1px;
      }
      .item2 {
        background-color: #AEDCEB;
        text-align: center;
        margin-top: 2px;
        padding-top: 1px;
      }
      .item3 {
        background-color: #8ACDEA;
        text-align: center;
        margin-top: 2px;
        padding-top: 1px;
      }
      .item4 {
        background-color: #56BED9;
        text-align: center;
        margin-top: 2px;
        padding-top: 1px;
      }
      .item5 {
        background-color: #3E9BC9;
        text-align: center;
        margin-top: 2px;
        padding-top: 1px;
      }
    }
    .cBar {
      display: flex;
      color: #333333;
      font-size: 12px;
      justify-content: flex-start;
      margin-top: 1px;
      .itemAxias {
        width: 50px;
        height: 21px;
        line-height: 21px;
        text-align: right;
        margin-right: 10px;
      }
      .item1 {
        background-color: #D7EEF4;
        text-align: center;
        margin-top: 2px;
        padding-top: 1px;
      }
      .item2 {
        background-color: #AEDCEB;
        text-align: center;
        margin-top: 2px;
        padding-top: 1px;
      }
      .item3 {
        background-color: #8ACDEA;
        text-align: center;
        margin-top: 2px;
        padding-top: 1px;
      }
      .item4 {
        background-color: #56BED9;
        text-align: center;
        margin-top: 2px;
        padding-top: 1px;
      }
      .item5 {
        background-color: #3E9BC9;
        text-align: center;
        margin-top: 2px;
        padding-top: 1px;
      }
    }
  }
  .item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .tooltip {
    margin-top: 3px;
  }

}
