.page {
  display: flex; flex-direction: column; min-width: 800px; height: calc(100vh - 158px);
  flex: 2; align-self: center; width: 100%;
}
.relationGraph{
  display: flex; flex-direction: column; min-width: 800px;
}
