@import '../../themes/vars.less';

.container {
  width: 230px;
  padding: 1px;
  margin-top: 4px; margin-bottom: 7px;
  //border: solid 1px #ddd;

  .lab { text-align: center; }
  .lab1 { text-align: center; margin-bottom: 5px; }
  .container1 {
    display: flex; align-items: center;
    margin-bottom: 1px;
    .itema {
      margin-right: 10px; text-align: right; width: 45px; font-size: 12px;
    }
    .item1, .item2, .item3, .item4, .item5 {
      height: 21px; line-height: 21px;
      color: #333333; text-align: center;
    }

    .item1 { background-color: #D7EEF4; }
    .item2 { background-color: #AEDCEB; }
    .item3 { background-color: #8ACDEA; }
    .item4 { background-color: #56BED9; }
    .item5 { background-color: #3E9BC9; }
  }
}


