@import '../../themes/vars.less';

.container {
  width: 230px; margin-top: 4px; margin-bottom: 7px;
  border: solid 1px #ddd; padding: 1px;

  .lab { text-align: center; }
  .container1 {
    display: flex; align-items: center;

    .itema {
      margin-right: 5px; text-align: right; width: 45px; font-size: 12px;
    }

    .item1 {
      background-color: #aad1fd;
      text-align: center;
      color: #ffffff;
    }
    .item2 {
      background-color: #8abafc;
      text-align: center;
      color: #ffffff;
    }
    .item3 {
      background-color: #63a4fe;
      text-align: center;
      color: #ffffff;
    }
    .item4 {
      background-color: #398bfd;
      text-align: center;
      color: #ffffff;
    }
    .item5 {
      background-color: #1262d0;
      text-align: center;
      color: #ffffff;
    }
  }
}


