@import '../../themes/vars.less';
.container {
  height: 180px;
  width: 255px;
  align-items: flex-end;
  //background-color: #8c8c8c;
  box-shadow: 1px 1px 5px 4px #eee, 0 0 3px black;
  display: flex;
  //flex-wrap: wrap;
  .item1 {
    background-color: #ffa08c;
    width: 45px;
    height: 100px;
    margin-left: 5px;
  }
  .item2 {
    background-color: #a0c8ff;
    width: 45px;
    height: 80px;
    margin-left: 5px;
  }
}
