@import "~themes/vars";

.personLabels {
  display: flex; flex-direction: row; margin-left: 10px;
  .label {
    background-color: #108ee9;
    padding-left: 10px; padding-right: 10px;
    color: #ffffff;
  }
}
