@import "~themes/vars";

.hierarchyTree {
  //border: solid 1px green;

  .toolBox {
    display: flex; flex-direction: row;justify-content: flex-end;
    border: solid 0px #ddd;
    margin: 4px -24px 4px 4px; padding: 4px 0 4px 4px;
    border-radius: 2px;

    .item {
      padding: 2px 8px;
      span { margin-left: 4px; }
    }

    .item:hover {
      background-color: #bae7ff !important; color: #000; cursor: pointer;
      border-radius: 2px;
    }

    .actionIcon {
      visibility: hidden;
      width: 10px; text-align: right;margin-right: 4px;

      i {
        font-size: 18px; color: orange;opacity: 0.8;
        //border-radius: 50%;background-color: #fff;
        padding-top: 5px; margin-top: -5px;
      }
    }
    .actionIcon:hover {
      //background-color: blue;
      i {color: orange;opacity: 1;}
    }
  }

  .line {
    //border: solid 1px green;
    display: flex; justify-content: space-between; align-items: center;
    //width: 100%;

    .highlight {
      //border: solid 1px blue;
      display: flex; flex: 1; // margin-right: 6px;

      .treeNode {
        padding: 8px; font-size: 13px;

        .childrenNum { color: darkgreen; }
        .childrenNumActive { color: #fff; }
      }
    }

    .actionIcon {
      visibility: hidden;
      width: 10px; text-align: right;margin-right: 4px;

      i {
        font-size: 18px; color: orange;opacity: 0.8;
        //border-radius: 50%;background-color: #fff;
        padding-top: 5px; margin-top: -5px;
      }
    }
    .actionIcon:hover {
      //background-color: blue;
      i {color: orange;opacity: 1;}
    }

  }

  .line:hover {
    .actionIcon {visibility: visible;}
  }

  /** Basic style*/
  ul:first-child {
    padding-right: 24px !important;
  }
  :global {
    .ant-tree li {
      padding: 0px; margin: 0px;
      word-wrap: break-word !important;
    }
    .ant-tree .ant-tree-child-trees li {
      padding-right: 24px;
    }
    .ant-tree-node-content-wrapper {
      width: 100%;padding-right: 28px;
    }
    .ant-tree li .ant-tree-node-selected {
      background-color: #1890ff !important;
      color: #fafafa !important;
      height: auto !important;
      line-height: normal !important;
      .childrenNum {
        color: #fafafa !important;
      }

    }

    .ant-tree li .ant-tree-node-content-wrapper:hover {
      background-color: #bae7ff;
    }

    .ant-tree li .ant-tree-node-content-wrapper {
      height: auto !important;
      line-height: normal !important;
      word-break: normal;
      display: inline-block;
      white-space: pre-wrap;
      //border: solid 1px green;
    }
  }
  a {
    color: black;
  }
}

:global {
  .orgtreemodal {
    //border: 1px solid red;
    z-index: 1031;
    .ant-modal {
      width: 600px !important;
      .ant-form-item {
        margin-bottom: 12px;
      }
    }
  }
}

