.feedbackForm {
  width: 360px;
  .submitBtn {
    margin-bottom: 10px;
    text-align: right;
  }
  .inputBox {
    margin-top: 7px;
  }
}

.affixFeedback {
  height: 0px;
  position: fixed;
  right: 20px;
  bottom: -10px;
}

:global {
  .ant-popover-title {
    font-size: 14px;
  }
}

.titleBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
