@import "../../themes/vars.less";

.footer {
  //height: 172px;
  //line-height: 48px;

  background: #fff;
  box-shadow: @shadow-2;
  width: 100%;

  .footer_aminer {
    height: 48px; margin-bottom: 2px;

    :global {
      div {
        float: right; display: block; height: 46px; line-height: 46px;
        font-size: 16px; margin-top: 12px; margin-right: 8px;
      }
      img { height: 46px; display: block; float: right; margin-right: 48px; margin-top: 4px; }
    }
  }

  .footer_main {
    display: block; min-height: 120px;
    background: rgb(19, 30, 38);
    :global {
      img { float: left; display: block; margin: 18px 0 0 48px }
      div {
        margin-right: 24px;
        text-align: right;
        font-size: 12px;
        color: #fff;
        padding: 24px 0 0 0;
        line-height: 24px;
      }
    }
  }
}

