@import "~themes/vars";

.header {
  display: flex; flex-direction: row;
  height: 66px; padding: 0 @padding-outer-h;
  background-color: @bg-color-header;
  :global {
    .header_subTitle {
      font-size: @font-size-huge; margin-left: 10px;
    }
  }

  .logoZone { }
  .searchZone { flex: 2; margin-left: 40px; }
  .infoZone { }
}
