@import "../../themes/vars.less";

.navigator {
  display: flex; flex-direction: row;
  height: 44px; padding: 0 @padding-outer-h;
  background-color: @bg-color-main;
  border-bottom: solid 1px @background-color-gray;

  .navi {
    line-height: 42px; padding: 0 20px; white-space: nowrap;
    a { color: white; line-height: 24px; font-size: 16px; }
  }
  .navi:hover {
    background-color: #007aaf; border-bottom: solid 3px #3d4f56;
  }
  :global .current {
    background-color: #007aaf; border-bottom: solid 3px #3d4f56;
  }

  :global {
    .navi.current {
      // background: rgba(16, 142, 233, 0.2);
      background: white;
      box-shadow: 0 0 2px #ddd inset;
      border-left: solid 1px @orange;
      border-right: solid 1px @orange;

      a { color: #333; }
    }
    .navi:hover {
      border-bottom: solid 1px #108ee9;

      a { color: #333; }
    }
  }

}
//:global{
//  .ant-dropdown {
//    .ant-dropdown-menu {
//      height: 280px !important;
//      overflow: scroll;
//    }
//  }
//}
