@import "~themes/vars.less";

.report {
  width: 990px; margin: 0 auto;

  .navbar { display: flex;
    justify-content: space-between;
  }

  .title { margin: 10px; }

  .content { margin-top: 10px; }

  .projectInfo, .pushEffect, .resultsOverview { margin-bottom: 20px; }

  :global {
    .ant-table-pagination { display: none; }
  }

  .hidden {
    display: none;
  }

  .show {
    display: block;
  }
}

.recopersonlist {
  width: 600px;
  margin-top: 30px;
}

.recoechart {
  width: 600px;
  height: 500px;
}
