.chooseNationality {
  .checkGroup {
    max-width: 600px;
    background-color: whitesmoke;
    padding: 20px;
    margin-left: 20%;
    .checkBox { margin-left: 20px;display: inline-block; }
  }
  :global {
    .ant-form-item { margin: 0; }
  }
}
