
.searchCross {
  margin-left: -188px;
  padding: 10px 30px;
  .stepsAction {
    margin-top: 24px;
  }
  .ant-steps-head:hover {
    cursor: pointer !important;
  }
  .stepsContent {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 500px;
  }

  .contentHV {
    display: flex;
    justify-content: center;
    padding-top: 200px;
  }
  .contentCenter {
    display: flex;
    justify-content: center;
  }
  .contentLeft {
    display: flex;
    justify-content: flex-start;
  }
}



