@import "../../themes/vars.less";

.heatLayout {
  width: auto;
  overflow: scroll;
  .actionBar {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    .title {
      font-size: 18px;
      font-family: "Microsoft Sans Serif";
      margin-right: 40px;
    }
  }
  .mainBody {
    border: 1px solid #e5e6e9;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 6px rgba(200, 200, 200, 0.4);
    box-shadow: 0 2px 6px rgba(200, 200, 200, 0.4);
    padding: 8px;
    min-width: 1200px;
    .statistic {
      margin-left: 50px;
      margin-top: 10px;
    }

  }
  .heatLayout {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;

    .yAxis {
      width: 200px;
      .yVal {
        text-align: right;
        height: 64px;
        line-height: 64px;
        margin-right: 3px;
        .yTiltleDefault {
          margin-left: 10px;
        }
        .yTiltle {
          cursor: pointer;
          margin-left: 10px;
        }
        .yTiltle:hover {
          padding: 2px 10px;
          border-radius: 5px;
          border: 1px solid #108ee9;
          color: #108ee9;
        }
      }

    }
    .heat {
      .heatY {
        display: flex;
        justify-content: flex-start;
      }
      .heatYShadow {
        display: flex;
        justify-content: flex-start;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, .35);
        z-index: 10;
      }

      .heatX {
        border: 1px solid #ccc;
        height: 64px;
        width: 64px;
        cursor: pointer;
      }
      .heatXDefault{
        border: 1px solid #ccc;
        height: 64px;
        width: 64px;
      }


      .author {
        background-color: #8EC267;
        margin-top: 14px;
        text-align: center;
        height: 16px;
      }
      .pub {
        background-color: #92D1FF;
        margin-top: 4px;
        height: 16px;
        text-align: center;
      }
      .heatX:hover {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, .35);
        z-index: 10;
        .author:hover {
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
        }
        .pub:hover {
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, .35);
        }
      }
      .xShadow {
        border: 1px solid #ccc;
        height: 64px;
        width: 64px;
        cursor: pointer;
        box-shadow: -2px 0 5px #999, 0 -2px 1px #FFF, 0 2px 5px #000, 2px 0 5px #999;
        z-index: 10;
      }

      .yShadow {
        border: 1px solid #ccc;
        height: 64px;
        width: 64px;
        cursor: pointer;
        box-shadow: -2px 0 5px #FFF,0 -2px 5px #000, 0 2px 5px #000, 2px 0 5px rgba(255, 197, 37, 0.2);
        z-index: 10;
      }

    }
    .xAxis {
      height: 300px;
      width: 800px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 20px;
      margin-top: 5px;
      text-align: left;
      .titleLayout {
        width: 64px;
        padding-left: 40px;
        .xTitleDefault {
          white-space: nowrap;
          font-size: 12px;
          -webkit-transform-origin: left top;
          transform-origin: left top;
          float: left;
          transform: rotate(90deg);
        }
        .xTitle {
          white-space: nowrap;
          font-size: 12px;
          -webkit-transform-origin: left top;
          transform-origin: left top;
          float: left;
          transform: rotate(90deg);
        }
        .xTitle:hover {
          padding: 1px 4px;
          border-radius: 5px;
          border: 1px solid #108ee9;
          cursor: pointer;
          color: #108ee9;
        }
      }

    }

  }
}

.heatModal {
  .tabs {
    height: 650px;
    font-size: 15px;
  }
  .modalContent {
    height: 580px;
    width: 100%;
    overflow: scroll;
  }
  .pagination {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  :global {
    .spinnerMask, .mshow {
      width: 770px;
      height: 95%;
      overflow: hidden;
    }
    .ant-tabs-nav-wrap {
      float: right;
      margin-right: 25px;
    }
    .ant-tabs-extra-content {
      float: left !important;
    }
    .ant-modal-close {
      top: 10px;
    }
    .ant-tag {
      margin-top: 5px;
    }
  }
}
