@import "../../themes/vars.less";

.heat {
  width: auto;
  overflow: scroll;
  .actionBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    margin-left: 20px;
    min-width: 767px;
    .num {
      color: #f1742f;
      font-size: 15px;
    }
    .title {
      font-size: 18px;
      font-family: "Microsoft Sans Serif";
      margin-right: 40px;
    }
    button {
      margin-left: 15px;
    }
    .back {
      border-radius: 2px;
      border: 1px solid #ccc;
      margin-right: 10px;
      padding: 3px 15px;
    }
    .back:hover {
      color: #03A9F4;
      border: 1px solid #03A9F4;
      cursor: pointer;
    }
  }
  .antTag {
    margin-top: 3px;
    line-height: 18px;
    height: 18px;
    //border: 1px solid #999;
  }

  .handleCircle {
    fill: #03A9F4;
    fill-opacity: 0.8;
    stroke: #03A9F4;
    cursor: ew-resize;
  }

  .nodeCircle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2px;
  }

  .node text {
    font: 13px sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

  .grid .tick line {
    stroke: grey;
    stroke-dasharray: 5, 10;
    opacity: 0.7;
  }

  .grid path {
    stroke-width: 0;
  }

  .node circle {
    fill: #999;
  }

  .node--internal circle {
    fill: #555;
  }

  .node--internal text {
    font-size: 16px;
    text-shadow: 0 2px 0 #fff, 0 -2px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
  }

  .tooltipDis {
    float: left;
    position: absolute;
    text-align: left;
    border-radius: 4px;
    padding: 3px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    pointer-events: none;
  }

  .d3Content {
    overflow: inherit;
    border: 1px solid rgb(238, 238, 238);
    -webkit-box-shadow: 0 0 14px 2px rgba(99, 99, 99, 0.2) inset;
    box-shadow: 0 0 14px 2px rgba(99, 99, 99, 0.2) inset;
    .title {
      font-size: 18px;
      font-family: "Microsoft Sans Serif";
      margin-top: 40px;
      margin-left: 20px;
      width: 325px;
      overflow: auto;
    }
    .xTree {
      margin: 0px;
      padding: 0px;
      height: 300px;
    }
    .yheat {
      margin-right: 200px;
      margin-top: 30px;
    }

    .yTreeHeat {
      display: flex;
      justify-content: flex-start;
      margin-top: 20px;
    }

  }

}

.heatModal {
  .tabs {
    height: 650px;
    font-size: 15px;
  }
  .modalContent {
    height: 580px;
    width: 100%;
    overflow: scroll;
  }
  .pagination {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  :global {
    .spinnerMask, .mshow {
      width: 770px;
      height: 95%;
      overflow: hidden;
    }
    .ant-tabs-nav-wrap {
      float: right;
      margin-right: 25px;
    }
    .ant-tabs-extra-content {
      float: left !important;
    }
    .ant-modal-close {
      top: 10px;
    }
    .ant-tag {
      margin-top: 5px;
    }
  }
}
