@import "../../themes/vars";

.queryList {
  //display: flex; justify-content: center;

  .bar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 12px;
    .searchWrap {
      width: 400px;
      margin-left: 30px;
    }
  }
}



