.pageTitle {
  margin-bottom: 12px;
}

.tabs {
  .tabContent {
    border: solid 0px red;
    //padding: 0px 16px;

    .desc {
      margin-bottom: 8px;
      border: solid 1px #ddd;
      padding: 0px 16px 15px 20px;
      border-radius: 3px 3px 3px 3px;
      transition: background-color .4s;
      :global .title {
        top: -8px;
        position: relative;
        padding: 0 8px;
        height: 0;
        background-color: white;
        display: inline;
      }
    }

  }
}
