#components-tabs-demo-card-top .code-box-demo {
  background: #ececec;
  overflow: hidden;
  padding: 24px;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
}

.margin-top-10 {
  margin-top: 10px;
}

.addSeminar {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  .searchWrap {
    width: 70%;
    float: left;
    input {
      float: left;
      width: 50%;
    }
    button {
      float: left;
    }
  }
}
.top > button {
  margin-right: 30%;
}

:global {
  .seminar {
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    .seminar_outbox{
      max-width: 1000px;
      width: 100%;
    }
    li {
      list-style: none;
      overflow: hidden;
      padding: 20px 0 18px;
      border-bottom: 1px solid #eff3f8;
    }

    .getMoreActivities {
      font-size: 16px;
      width: 100%;
      text-align: center;
    }

  }
}
.filterWrap {
  .filter {
    display: flex;
    flex-direction: column;
    //padding: 0 10px;
    //box-shadow: 0 1px 2px whitesmoke, 0 1px 2px;
    //border: 1px solid #e9e9e9;
    box-shadow: 0 0 1px #d3d3d3;
    margin-bottom: 10px;
    .filterRow {
      border-bottom: 1px solid #e9e9e9;
      padding: 8px;
      display: flex;
      flex: 1;
      align-items: center;
      flex-direction: row;
      .filterTitle {
        color: darkgray;
        font-weight: bold;
        width: 70px;
        text-align: right;
        vertical-align: middle;
        margin-right: 10px;
        flex: none;
      }
      .filterItem {
        margin: 0 5px;
        width: 230px;
      }
      .filterCount {
        font-weight: bold;
      }
    }
    .filterRow.range {
      background-color: #d3d3d3;
      .filterItem { color: #555; font-weight: bold; }
      .filterTitle { color: #555; }
      :global {
        .ant-tag-checkable:hover, .ant-tag-checkable:active, .ant-tag-checkable-checked { color: white; }
      }
    }

  }
  :global {
    .ant-tabs-bar {
      //box-shadow: 0 1px 2px whitesmoke, 0 1px 2px;
      border: 1px solid #e9e9e9;
      .ant-tabs-tab {
        //font-size: 8px;
        padding: 12px 25px;
      }
      .ant-tabs-tab-active {
        background: #108ee9;
        color: white;
      }
    }
  }
}
