@import "../../../themes/vars.less";

.page {
  display: flex; flex-direction: column;
  .main {
    display: flex; flex-direction: row;
    .left {
      width: 168px;
      .toolbox {
        display: none;
        //display: flex;
        flex-direction: row; justify-content: flex-end;
        //margin: 4px 12px;
        :global .spliter { width: 16px; text-align: center }
      }
      .leftTab {
        display: flex;
        justify-content: space-between;
        margin-right: -24px;
        .actionByDel{
          color: #F24134;
          margin-left: 8px;
        }
        .wrapOverWidth{
          width: 90px;
          white-space: initial;
        }
      }

      :global {
        .ant-tabs-nav-container {
          width: 166px; margin-right: 0;
          .ant-tabs-nav-animated {
            width: 100%;
          }
        }

        .ant-tabs-vertical.ant-tabs-left {
          > .ant-tabs-bar .ant-tabs-tab {
            text-align: left; margin: 0;
            border: none; border-radius: 0;
            background-color: transparent;
          }
          > .ant-tabs-bar .ant-tabs-tab:hover {
            background-color: rgb(233, 233, 233);
          }
          .ant-tabs-bar .ant-tabs-tab-active {
            background-color: #efefef;
            color: @text-color;
          }
        }

      }

    }
    .right {
      display: flex; flex-direction: column;
      flex: 2; margin: 0 24px;
    }
  }

  :global .orgNameInput { width: 39px; height: 270px; border: solid 1px red; }
}
