@import "./default.less";

@border-color-base: #333; // base border outline a component
@border-color-split: #333; // split border inside a component
@border-width-base: 1px; // width of the border for a component
@border-style-base: solid; // style of a components border
@input-placeholder-color: rgb(121, 121, 121);
