.login {
  .ant-form-item-control {
    button { width: 100% !important; }
  }
  .forgotAndRegister { display: flex; justify-content: space-between; margin-top: -20px; margin-bottom: -20px; }
}

.loginFormButton { width: 100%; }

