
.marginTop {
  margin-top: 20px;
}

.marginLeft {
  margin-left: 10px;
}

.detailSeminar {
  margin-top: 20px;
  h4 {
    text-align: center;
    font-size: 18px;
    //font-weight: 300;
  }
  .messages {
    .marginTop;
    i {
      width: 20px;
    }
    li p {
      margin: 0 0 10px;
    }
    .center {
      display: block;
      text-align: -webkit-center;
    }
  }
  h5 {
    line-height: 20px;
    font-size: 17px;
    font-weight: 300;
    margin: 10px 0;
  }

  .action {
    float: right;
    .marginTop;
  }

  .rate {
    .marginTop;
  }

  .comment {
    .marginTop;
    Button {
      float: right;
      margin-top: 10px;
    }
  }
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  .caption {
    padding: 9px;
    color: #333;
  }
}

.text-muted {
  color: #777;
}
.hr{
  padding-top: 0;
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #eee;
}

.workshopTetail {
  h5 {
    text-align: center;
  }
  img {
    width: 100%;
  }
  hr{
    .hr;
  }
}

.workshop {
  .speakerAvatar {
    text-align: center;
    img {
      width: 160px;
      height: 160px;
      border-radius: 10px 10px;
    }
  }
  hr{
    .hr;
  }
}
