@import "../../../themes/vars.less";

.marginTop {
  margin-top: 20px;
}

.marginLeft {
  margin-left: 10px;
}

.setMaxWidth {
  max-width: @max-width-page;
  width: 100%;
  padding: 0 20px;
}

.detailSeminar {
  width: 100%;
  font-size: 13px;
  margin-top: 20px;
  //display: flex;
  //justify-content: flex-start;
  //flex-shrink: 1;
  h4 {
    text-align: center;
    font-size: 18px;
    //font-weight: 300;
  }
  .messages {
    i {
      width: 20px;
    }
    li p {
      margin: 0 0 10px;
    }
    .center {
      display: block;
      text-align: -webkit-center;
    }
  }
  h5 {
    line-height: 20px;
    font-size: 17px;
    font-weight: 300;
    margin: 10px 0;
  }

  .action {
    float: right;
    .marginTop;
  }

  .rate {
    .marginTop;
  }
  .speakerMessage {
    hr {
      padding-top: 0;
      margin: 10px 0 30px 0;
      border: 0;
      border-top: 1px solid #eee;
    }
  }
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  .caption {
    padding: 9px;
    color: #333;
  }
}

.text-muted {
  color: #777;
}

.hr {
  padding-top: 0;
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #eee;
}

.workshopTetail {
  h5 {
    text-align: center;
  }
  img {
    width: 100%;
    //box-shadow: 0px 0px 10px #428bca;
    margin-bottom: 20px;
  }
  hr {
    .hr;
  }
  p {
    margin-top: 10px;
  }
}

.workshop {
  margin-bottom: 20px;
  .speakerAvatar {
    text-align: center;
    margin-right: 5px;
    img {
      width: 90px;
      border-radius: 5px 5px;
    }
  }
  hr {
    .hr;
  }
}

.qrCode {
  display: none;
  z-index: 1;
  position: absolute;
}
.show_QRCode{
  cursor: pointer;
}
.show_QRCode:hover + .qrCode {
  display: block !important;
}
