.workshopDetail {
  .talkTitle {
    text-align: center;
    font-weight: bold;
  }
  .abstract, .bio {
    h5 {
      margin-top: 20px!important;
      font-weight: bold!important;;
    }
  }
}

.speakerAvatar {
  text-align: center;
  img {
    width: 160px;
    height: 160px;
    border-radius: 10px 10px;
  }
}

.messages {
  margin-top: 20px;
  .speakerAvatar {
    text-align: center;
    img {
      width: 160px;
      height: 160px;
      border-radius: 10px 10px;
    }
  }
  i {
    width: 20px;
  }
  li p {
    margin: 0 0 10px;
  }
  .center {
    display: block;
    text-align: -webkit-center;
  }
}



