@import "~themes/vars";

.ebIndex {
  .container {
    display: flex; flex-direction: row;

    .treeBlock {
      width: 19vw; min-width: 180px;max-width: 400px;
      min-height: 50vh;margin-right: 26px;
    }

    .rightBlock {
      display: flex; flex-direction: column;
      width: 81vw; padding: 10px; border: 0px solid #EEEEEE; margin-left: 8px;
    }
  }
}

