.nsfcIndexPage {
  display: flex; flex-direction: row;

  .treeBlock { width: 19vw; min-height: 50vh; margin-right: 26px; }

  .rightBlock { width: 81vw; padding: 10px; border: 1px solid #EEEEEE; margin-left: 8px; }
}
