@import "~themes/vars";

.ACMFellowForecast {
  display: flex; flex-direction: column; min-width: 800px;
  h1 {
    .small {font-size: 14px;}
  }
  .personList {}
  .pagination {}
  .labels {
    display: flex; flex-direction: row; margin-left: 20px;
    .label {
      background-color: #3e9bc9;
      padding-left: 10px; padding-right: 10px;
      color: #ffffff;
    }
  }
}
