
.container {
}

.vis_container {
  border: solid 1px darkolivegreen;
  margin: 28px;
  padding: 0px;
  width: 452px;
  height: 300px;
}

:global {

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 2px;
  }

  .node text {
    font: 12px sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
}

