/**
 * Created by BoGao on 2017/9/13.
 */
Layout {
  .title { color: red; }
  .layout {
    border: solid 1px green;

    .title { border: solid 1px red }
    .sider {
      border: solid 1px orange;
    }
  }
}
