/**
 * Created by BoGao on 2017/9/13.
 * 每个Component必须有一个root class，这个root class可以和component重名，理论上应该全局唯一。
 * 这个文件中，以每个component的root class为第一级。 不建议嵌套。
 * 这个文件是对每个component的样式的覆盖.
 */
@import "../../themes/vars.less";

:global {
  .icon {
    background-image: url('/sys/huawei/icon.png');
  }
}

.logoZones {
  display: flex; flex-direction: row;
  height: 66px;
  line-height: 66px;
  .header_logo {
    width: 50px;
    background-position: -68px -47px;
  }
  .header_subTitle {
    margin-left: 10px;
  }
}

.footerText {
  display: flex; flex-direction: row; justify-content: flex-end;
  line-height: 25px; margin-top: 10px; margin-right: 10px;
  .aminerLogo{ height: 25px; }
}

.index_bannerZone {
  width: 100%; text-align: center;
  margin-top: 65px;
  .logo {
    display: flex; flex-direction: row; justify-content: center;
    span {
      display: flex; background-position: -171px -10px;
      width: 100px; height: 100px; z-index: 10000; border: none;
    }
  }
  .text {
    font-size: 20px; font-weight: bold; color: white;
    margin-top: 40px; margin-bottom: 30px;
  }
}

.Overrides() {
  .layout {
    border: solid 0px green;
    .sider {
      border: solid 1px orange;
      .text { color: orange }
    }

    .content {
    }
  }
  .indexPage {
    background-image: url('/sys/huawei/bg-homepage.jpg');
    background-size: auto 100%;
    background-origin: content-box;
  }
  .loginPage {
    background-image: url('/sys/huawei/bg-loginpage.png');
    background-size: auto 100%;
    background-origin: content-box;
  }

}

.Overrides() !important;
