@import "../../../themes/vars.less";

.talentSearch {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  .searchBtn {
    font-weight: bold;
    height: 46px;
    margin-left: 8px;
    width: 100px;
    border-radius: 2px;
  }
  .tagBox {
    margin: 10px;
    background: #f3f3f3;
    border-radius: 2px;
    flex-wrap: wrap;
    i {
      padding-right: 8px;
    }
  }
  .searchWordsBox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .title {
    font-size: 14px;
    color: blue;
    line-height: 42px;
    height: 42px;
  }
  :global {
    .ant-select-selection--multiple .ant-select-selection__rendered {
      height: 46px;
    }
  }

}

.rr {
  display: none;
}
