@import "~themes/vars";

.ACMForecastLabel {
  padding-bottom: 10px;

  .highCitedPaper {
    padding-left: 15px; font-size: 12px; text-indent: 8px;

    .highCitedPaperTitle { color: #000; }
  }

}



