@import "../../../themes/vars.less";

.BatchCreateUser {
  //.title { padding-left: 24px; }
  .header{
    max-width: @max-width-page;
    display: flex;
    justify-content: space-between;
  }

  .note { margin-top: 10px; margin-bottom: 10px; }
  form {
    max-width: @max-width-page;
    .footerBtn {
      text-align: center;
      button { width: 50%; }
    }
  }
}

.errorStyle { color: red; }
.successStyle { color: #00a854; }

