@import "../../themes/vars.less";

.footer_aminer {
  display: flex;
  justify-content: space-between;
  height: 80px; margin-bottom: 2px;
  background: #111;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 20px;

  .footer_aminer_copyright {
    span {
      padding-left: 10px;
    }
  }
  :global {
    div {
      float: right; display: block; height: 46px; line-height: 46px;
      margin-top: 12px; margin-right: 8px;
    }
  }
}

.footer_main {
  display: flex;
  justify-content: space-around;
  min-height: 120px;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 6px;
  .footer_main_desc {
    color: rgba(255, 255, 255, 0.8);
    //img {
    //  margin-bottom: 20px;
    //}
    div {
      margin-bottom: 10px;
    }
  }
}

.heading_bottom {
  margin-bottom: 5px;
  h3 {
    color: #ffffff;
  }
}

.heading_contact_content {
  display: flex;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 0.8) !important;
  margin-bottom: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.heading_followUs {
  img {
    display: block;
    width: 80%;
  }
  img:nth-child(2) {
    margin-top: 5px;
  }
}

.margin_right_10 {
  margin-right: 10px;
}

