@import "../../themes/vars.less";

.footer {
  height: 150px;
  background: url('/sys/cie/footerbg.png') repeat-x center -5px;
  width: 100%;
  color: white;
  .content {
    display: flex;
    justify-content: center;
    //text-align: center;
    //display: inline;
    img {
      height: 80px;
      margin-top: 30px;
    }
    .info {
      margin-top: 25px;
      margin-left: 20px;
    }
  }
}

.aminerInfo {
  float: right;
  margin-top: -75px;
  margin-right: 10px;
}
