@import "~themes/vars";

.footer_aminer {
  display: flex;
  justify-content: space-between;
  height: 46px; margin-bottom: 2px;
  background: #111;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 20px;

  .footer_aminer_copyright {
    span {
      padding-left: 10px;
    }
  }
  :global {
    div {
      float: right; display: block; height: 46px; line-height: 46px;
      margin-right: 8px;
    }
  }
}
