.changer {
  display: flex; flex-direction: row;flex-wrap: wrap;
  border: solid 1px green; padding: 8px; margin: 8px; font-size: 18px;
  .sysbtn {
    margin-left: 4px;
    img {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin-right: 4px;
    }
  }
}

.pageTitle {
  margin-bottom: 12px;
}

:global .toolsArea {
  float: right;
}

.twoColumnsShowRadio {
  width: 50%;
  margin-right: 0;
}

.userListTable tr {
  th {
    text-align: left !important;
  }
  td {
    text-align: left !important;
  }
}
