.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}

.node text {
  font: 13px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.disciplineTree {
  .tooltipDis {
    float: left;
    position: absolute;
    text-align: left;
    span {
      padding: 0px;
    }
    .close {
      font-size: 12px;
      color: red;
      margin-left: 5px;
      margin-right: 5px;
    }
    .input {
      width: 80px;
      overflow: hidden;
    }
    .plus {
      font-size: 12px;
      color: #08c;
      margin-left: 5px;
      margin-right: 5px;
    }
    .ok {
      margin-left: 5px;
    }
  }

  :global {
    .spinnerMask {
      background-color: #fafafa;
      text-align: center;
      padding-top: 230px;
      height: 500px;
      width: 0%;
    }
  }

}

