
.committee td a{
  color: grey;
  font-weight: 600;
  font-size: 14px;

}
.committee td {
  text-align: center !important;
}

.committee td:nth-child(1) {
  text-align: left !important;
}
.committee th:nth-child(1) {
  text-align: left !important;
}
.committee td:nth-child(2) a {
  font-weight: bold;
  color: #1d2129;
}


