@import "~themes/vars";

.exportExperts {
  margin-top: 6px;
  .button {
    margin-right: 5px;
    color: #fff;
    background-color: #108ee9;
    border-color: #108ee9;
    border-radius: 3px;
    padding: 7px;
  }
  .exportButton { }

}

.exportNumLabel {
  margin: 0 15px 10px 20px;
}

.fields {
  margin: 15px 15px 10px 20px;
  border-top: 1px solid #f4f4f4;
  padding-top: 10px;
}
