@import "~themes/vars";

.exportExperts {
  margin-top: 10px;
  .button { margin-right: 5px }
  .exportButton { }

}

.exportNumLabel {
  margin: 0 15px 10px 20px;
}

.fields {
  margin: 15px 15px 10px 20px;
  border-top: 1px solid #f4f4f4;
  padding-top: 10px;
}
