@import "~themes/vars";

.exportExperts {
  margin-top: 6px;
  .button {
    margin-right: 5px;
    color: #fff;
    background-color: #108ee9;
    border-radius: 3px;
    padding: 6px;
  }
  .exportButton { }
  .buttonMarginRight { color: #3e9bc9; border-right: 1px solid #3e9bc9; padding: 0px 7px}
  .buttonMarginRight1 { color: #3e9bc9; padding: 7px}

}

.exportNumLabel {
  margin: 0 15px 10px 20px;
}

.fields {
  margin: 15px 15px 10px 20px;
  border-top: 1px solid #f4f4f4;
  padding-top: 10px;
}
