/**
 *  Created by on 2017-06-15;
 */
@import '../../themes/vars.less';
.aaa{
  display: block;
  border-bottom: 1px dotted #e4e9f0 !important;
  margin-bottom: 15px;
  margin: 10px;
  margin-top: -5px;
}

.h2{
  padding-bottom: 0;
  font-size: 16px;
  line-height: 33px;
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  font-weight: 300;
  margin: 0 0 -2px 0;
  display: inline-block;
  border-bottom: 2px solid #428bca;
}

.page{
  .personList {
    margin-top: 3px;
    border: solid 0px @default-border-color; padding: 0px;
    min-height: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;

    :global {
      .item {
        display: flex;
        flex-direction: row;
        border: solid 1px #e5e5e5;
        box-shadow: 0 0 1px rgba(200, 200, 200, 0.4);
        margin-bottom: 4px;
        border-radius: 2px;
        cursor: pointer;

        .item {
          border: solid 1px red;
          margin-bottom: 16px;
        }
        .avatar_zone { padding: 4px; }
        .avatar {
          width: 60px;
        }

        .info_zone {
          display: flex; flex-direction: column; flex: 1 100%;
          margin-left: 10px;
          font-size: 13px; color: #fbff5d;

          .title {
            display: flex; flex-direction: row; align-items: baseline; justify-content: flex-start;
            margin: 8px 0 4px 0;

            h2, h2 a {
              font-size: @font-size-lg; font-family: @font-family-2;
              font-weight: normal;
              color: #101010;

              .spliter {
                border-bottom: solid 1px rgb(216, 216, 216);
                margin: 2px 0 8px 0;
              }
            }
            .section_header {
              padding-bottom: 0; width: auto;
            }

            .rank {
              margin-left: 18px;
              font-size: 12px;
            }

          }

          .zone {
            display: flex; flex-direction: row; flex: 1 100%;
            .contact_zone {
              display: flex; flex-direction: column;
              flex: 2 0px;
            }
            .tag_zone {
              flex: 1 150px;
              border-left: solid 1px #e9e9e9;
              padding: 0 0 0 8px;
              border-radius: 1px;
              margin: 0 0 4px 8px;
              .ant-tag { margin-bottom: 1px; background-color: @background-color-gray; }
              .ant-tag .ant-tag-text { }
              h4 {
                border-bottom: solid 1px #ddd;
                width: 94%; color: @dark-gray;
                margin-bottom: 6px;
              }
            }
          }

          .contactLine {
            display: flex; flex-direction: row;
            > span { margin-right: 24px; }
          }
          .email {
            width: 100%; background-size: auto 20px; background-position: 8px;
            background-repeat: no-repeat;
          }
        }

      }
    }

  }

}
