.profile_info {
  display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start;
  padding: 4px; border: dotted 0px #aaaaaa;

  .avatar_zone { padding: 6px; }
  .avatar {
    width: 160px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  }

  .info_zone {
    display: flex; flex-direction: column; flex: 2 auto;
    border: dotted 0px #eeaaee; margin-left: 10px;

    :global .hp { word-break: break-all; }

    div { display: flex; }
    .title {
      display: flex; flex-direction: row; justify-content: space-between; align-items: baseline;
      margin: 8px 0 0 0;

      h1 {
        font-size: 24px; font-family: STHeitiSC-Medium;
        border: dotted 0px #eeaaee;
      }

      .rank {
        margin-left: 18px;
        font-size: 12px;
      }

    }

    .spliter {
      border-bottom: solid 1px rgb(216, 216, 216);
      margin: 8px 0 4px 0;
    }

    :global .emailImg {
      margin-left: -11px; height: 20px;
    }

  }

}
