
.tab_zone{
  display: flex; flex-direction: row; justify-content: flex-start; align-items: flex-start;
  padding: 4px; border: dotted 0px #aaaaaa;
}
.content_zone {
  display: flex; flex-direction: row; justify-content: space-between;
  margin-left: 10px; margin-right: 10px;

  .left_region{
    flex-grow: 1;
    flex-basis: 0;
    align-self:flex-start;
    display:flex;
    flex-direction: column;
  }
  .right_region{
    flex-grow: 1;
    flex-basis: 0;
    display:flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .button_size{
    margin-left: 40px;
  }
}

