@import "../../themes/vars.less";

.searchHelp {
  display: flex; flex-direction: column;
  border: 1px solid grey;
  margin: 5px; padding: 5px;
  font-size: 14px;
  height: 100px;
  .leftBox{
    display: flex; flex-direction: row;
    justify-content: flex-start;
    .rightBox{
      display: flex; flex-direction: column;
    }
    .width{
      width: 240px;
    }
  }
  .suporordinateWord{
    color: red;
  }
  .subordinateWord{
    color: #3e9bc9;
  }

}
