@import "~themes/vars";

:global {
  .expertbase_delete_menuitem {
    border:solid 1px red;
    border-radius: 3px;

    .ant-popover {z-index: 99999}
    .ant-popover-inner-content {
      padding-bottom: 1px;
    }
  }
}
