.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
.text-danger {
  color: red;
}
//:global {
//  .ant-progress-bg {
//    height: 30px !important;
//    -webkit-border-radius: 10px !important;
//    -moz-border-radius: 10px !important;
//    border-radius: 10px !important;
//  }
//  .ant-progress-show-info .ant-progress-outer {
//    padding-right:5.75em;
//  }
//  .ant-progress-text{
//    font-size: 1.5em;
//    //color: #ffffff;
//    margin-left: -1.25em;
//    .anticon{
//      font-size: 1em;
//      vertical-align: middle;
//    }
//  }
//
//}

.svgTitle{
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
.leftInfoZone {
  width: 200px;
  position: absolute;
  background: #ccc;
  margin-top: 21px;
  color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .avatar{
    margin: 10px 0;
    text-align: center;
    img {
      width: 90px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 5px;
      -moz-box-shadow: 0 0 5px;
      box-shadow: 0 0 5px;
    }
  }
  .delCurrentNode{
    color: red;
    margin-top: -5px;
    cursor: pointer;
  }

}
