.searchKgContent {
  width: 30%;
  // 564
  margin-left: 1%;
  .innerBox {
    box-shadow: 0 0 5px lightgray;
    background: white;
    padding: 3.3% 3.3%;
  }
  h4 {
    margin: 10px 0;
  }
  p {
    margin-bottom: 10px;
  }
  .subTitleColor {
    color: #555;
  }
  .hrStyle {
    margin-bottom: 6px;
    margin-top: 4px;
  }
}
