@import "~themes/vars";

.translateSearchMessage {
  margin-bottom: 4px;
  .line {
    display: flex; flex-direction: row; align-items: center;
    .transIcon {
      width: 24px; height: 24px; margin-right: 2px;
      background: url('/images/icons/translate.png');
      background-repeat: no-repeat;
      background-position: 0px 0px;
      background-size: 24px;
    }
  }
}
