@import "../../themes/vars.less";

.logoZones {
  display: flex; flex-direction: row;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  .header_logo {
    width: 135px;
    height: 40px;
    min-width: 135px;
    background: url("/sys/tencent/header_logo.png") 8px 2px / auto 34px no-repeat white;
  }
  .header_subTitle {
    font-size: 20px;
    color: #4b4f56 !important;
    height: 40px;
    line-height: 50px;
  }
}

.header_info {
  margin: 0 12px 0 20px; height: 66px; line-height: 66px;
}

.index_bannerZone {
  width: 100%; text-align: center;
  margin-top: 65px;
  .text {
    font-size: 20px; font-weight: bold; color: #333333;
    margin-top: 40px; margin-bottom: 30px;
    span {
      font-size: 40px;
      text-shadow: 5px 5px 5px #ddd;
    }
  }
}

.Overrides() {
  .layout {
    border: solid 0px green;
    .sider {
      border: solid 1px orange;
      .text { color: orange }
    }

    .content {
    }
  }
  :global {
    .keywords_inner {
      div {
        border: none; border-radius: 32px;
        padding: 0px 10px; margin: 4px 5px;
        background-color: rgba(62, 155, 201, 1);
        a { color: #ffffff; font-size: @font-size-lg; }
      }
      div:hover { background-color: rgba(0, 122, 175, 1); }
    }
    .ant-menu {
      border-bottom: 0px;
    }
  }

}

.Overrides() !important;
