.ranksTitle {
  font-weight: 600;
  margin-bottom: 10px;
  a {
    color: #000;
  }
}

.ranksContent {
  font-size: 15px;
  .ranksContentImg {
    text-align: center;
    margin-top: 10px;
  }
  margin-bottom: 50px;
}
