.container {
  display: flex;
  height: 85vh;
  margin-left: -188px;
  .content {
    margin:auto;
    width: 50%;
  }
}

.codeBox {
  display: inline-block;
  position: relative;
  margin: 0 0 16px;
  width: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
  border: 1px #c3c4d0 solid;
  border-top: 2px #428bca solid;
  border-radius: 4px;
}
.codeBox:hover{
  box-shadow: 5px 5px 3px #eee;
}

.forgot_top {
  padding: 30px 0;
  text-align: center;
  h3{
    font-size: 22px;
  }
}
.form_mod{
  padding: 60px 5px;
  background: #fafafa;
}
