/**
 * Created by BoGao on 2017/7/15.
 */
.bigNavi {
  width: 680px; height: 168px; padding: 4px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  :global {
    .naviItem {
      border: solid 0 red;
      width: 160px; height: 160px;
      font-size: 20px;
      align-content: center;
      padding: 50px 12px 0 12px;
      box-shadow: 0 1px 3px #b9b7b9;

      a { color: #666 }
    }

  }
}
