/**
 * Created by BoGao on 2017/7/15.
 */
@import "~themes/vars";

.pl {
  display: flex; flex-direction: row; margin-left: 10px;
  .personLabel{
    background-color: #3e9bc9;
    padding-left: 10px; padding-right: 10px;
    color: #ffffff;
  }
  //:global .tag {
  //  flex: auto;
  //
  //  .ant-tag {
  //    font-size: 11px;
  //    font-weight: bold;
  //    color: forestgreen;
  //    border-radius: 2px;
  //    line-height: 16px;
  //    border: solid 1px mediumseagreen;
  //    height: 20px;
  //    padding: 2px 6px;
  //    background-color: transparent !important;
  //  }
  //
  //  .tu {
  //    color: #108ee9;
  //  }
  //}

}
