@import "../../themes/vars.less";

.logoZones {
  display: flex; flex-direction: row;
  height: 66px; line-height: 66px;

  .header_logo {
    width: 54px;
    //background-position: -68px -47px;
    background-image: url('/sys/acmfellow/header_logo.png');
    background-size: cover;
  }

  .header_subTitle { margin-left: 10px; color: black; }

}

.header_info {
  margin: 0 12px 0 20px; height: 66px; line-height: 66px;
}
