.right_zone {
  p { margin-top: 10px; }
  .qrCode { position: absolute; display: none; margin-top: -6px }
  .views span.views_count { color: #ff7f00; }
  a { color: #101010 }
  .container_qrCode { cursor: pointer; }

}
:global{
  .QRTooltip{
    .ant-tooltip-arrow {
      border-left-color: #dddddd !important;
    }
    .ant-tooltip-inner{
      background-color: rgba(255, 255, 255, 0.75) !important;
      border: 1px solid #dddddd;
    }
  }
}
