/**
 *  Created by zhanglimin on 2017-09-07;
 */
@import '../../themes/vars.less';

.conmentsBar {padding:0 10px 0 5px;
   .message { font-size: 1.5em;cursor:pointer}
   .messageTotal{float:right}
   .commentsArea{height: 5em;}
}
:global{
  .ant-input {
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  width: 88%;
  height: 28px;
  font-size: 13px;
  line-height: 1.5;
  color: #1d2129;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}}
