.VYMape {
  background: #e0e0e0;
  direction: ltr;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 46px;
  bottom: 0;
  z-index: 1;
  svg {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
  }
}
