/**
 * Created by BoGao on 2017/9/13.
 * 每个Component必须有一个root class，这个root class可以和component重名，理论上应该全局唯一。
 * 这个文件中，以每个component的root class为第一级。 不建议嵌套。
 * 这个文件是对每个component的样式的覆盖.
 */
@import "../vars.less";

:global {
  .icon1 {
    background-image: url('/sys/aminer/ckcest.png');
  }
  .icon2 {
    background-image: url('/sys/aminer/aminer_logo.png');
  }
}
.header_info {
  margin: 0 12px 0 20px; height: 66px; line-height: 66px;
}
.logoZones {
  display: flex; flex-direction: row; //align-items:center;
  height: 66px;
  line-height: 66px;
  .header_logo1 {
    width: 72px;
    background-size: 72px auto;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header_logo2 {
    width: 110px;
    background-size: 110px auto;
    background-repeat: no-repeat;
    background-position: center;
  }
  .line {
    font-size: 45px; font-weight:lighter; color: grey;
    background-position: center;
  }
}

.footerText {
  display: flex; flex-direction: row; justify-content: flex-end;
  line-height: 25px; margin-top: 10px; margin-right: 10px;
  .aminerLogo{ height: 25px; }
}

.index_bannerZone {
  width: 100%; text-align: center;
  margin-top: 30px;
  .text {
    font-size: 30px; font-weight:200; text-align: center;
    color: black;margin-bottom: 30px;
  }
  .dot {
    width: 3px;
    height: 3px!important;
    background-color: #000;
    border-radius: 3px;
    display: inline-block;
    margin: 0px 3px 7px 8px;
  }
}


.Overrides() {
  .header{
    background-color: lightgrey;
  }

  .layout {
    border: solid 0px green;
    .sider {
      border: solid 1px orange;
      .text { color: orange }
    }

    .content {
    }
  }
  //.indexPage {
  //  background-image: url('/sys/huawei/bg-homepage.jpg');
  //  background-size: auto 100%;
  //  background-origin: content-box;
  //}

  :global {
    .keywords_inner {
      margin-right: -15px;
      margin-left: -15px;
      div {
        padding:0 0; margin: 2px 2px;
        border-radius: 0;
        background-color: transparent;
        a { color: #428bca; font-size: 13px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
      }
    }
  }

}

.Overrides() !important;
