<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Loading...</title>

  <!--[if lte IE 10]>
  <script
    src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,media-match/2.0.2/media.match.min.js"></script>
  <![endif]-->
<<<<<<< HEAD
  <!--<script-->
    <!--src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.7.1/echarts.js"></script>-->
  <script src="/lib/echarts.js"></script>
  <script src="/lib/world.js"></script>
=======

  <!--<script-->
  <!--src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.7.1/echarts.js"></script>-->
  <!--<script src="/lib/echarts.js"></script>-->
  <!--<script src="/lib/world.js"></script>-->
>>>>>>> b8204ed9a576610b51f1cc3e00854f51b5bb3e9c
  <link rel="stylesheet" href="/fa/css/font-awesome.min.css" />

</head>

<body>

<div id="root"></div>
<%= process.env.NODE_ENV === 'development' ? '<script type="text/javascript" src="/roadhog.dll.js"></script>' : undefined %>
</body>
</html>
