.margin-top-10 {
  margin-top: 10px;
}
li{
  list-style: none;
}
.time {
  width: 60px;
  height: 70px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  margin-right: 15px;
  float: left;
  em {
    display: block;
    line-height: 19px;
    font-style: normal;
    color: #fff;
    background-color: #1677cb;
  }
  .bot {
    border: 1px solid #ddd;
    span {
      display: block;
      line-height: 1;
      color: #1677cb;
      font-size: 14px;
      b {
        font-weight: normal;
        font-size: 24px;
      }
    }
    strong {
      display: block;
      color: #9898a8;
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
    }
  }
  .strong {
    display: block;
    color: #9898a8;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
  }

}
.con {
  overflow: hidden;
  h3{
    display: inline-block;
  }
  a {
    font-size: 18px;
    color: #2f3034;
    line-height: 24px;
    display: block;
    /* height: 48px; */
    margin-top: 0;
    overflow: hidden;
  }
  .info {
    font-size: 14px;
    color: #2f3034;
    line-height: 20px;
    .margin-top-10;
    .type {
      width: 185px;
      display: inline-block;
      font-size: 14px;
    }
    .location {
      .margin-top-10;
    }
  }
}
