.register {
  .horizontal { display: flex; justify-content: center; width: 100%;
    .item { width: 248px; margin-right: 15px; margin-left: 15px; }
    .email { width: 526px; margin-bottom: 25px; }
  }
  .checkBox { margin-left: 24px; margin-bottom: -30px; margin-top: -20px; }
  .submit { text-align: center; margin-top: 35px; margin-bottom: -10px; }

}
