.publist {
  border: solid 0px rgb(216, 216, 216); padding: 0px;

  ul {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;

      .title_line {
        display: flex;
        flex-direction: row;
        flex: 2;

        .title {
          flex: 2 auto;
          a { font-size: 13px; font-weight: bold; color: black; }
          a:hover { color: rgb(37, 63, 124); text-decoration: underline; }
        }

        .labels {
          display: flex;
          flex-direction: row-reverse;
          flex: 1;
        }
      }

      .authors {
        font-size: 12px;
        .current { color: red; }
        a:hover { text-decoration: underline; }
      }

      .citedby {
        a { color: #a94442; font-weight: bold; }
        a:hover { color: rgb(169, 68, 66s) }
      }

    }
  }

}
