
.vis_container {
  border: solid 0px #ddd;
  margin: 1px 8px 1px 1px;
  padding: 0px;
  overflow: scroll;
}

:global {

  .level_0 { padding-left: calc(24px * 0); font-size: 18px; }
  .level_1 { padding-left: calc(24px * 1); font-size: 18px; margin-bottom: 24px; }
  .level_2 { padding-left: calc(24px * 2); font-size: 16px; margin-bottom: 12px; }
  .level_3 { padding-left: calc(24px * 3); font-size: 14px; margin-bottom: 8px; }
  .level_4 { padding-left: calc(24px * 4); font-size: 12px; margin-bottom: 2px; }
  .level_5 { padding-left: calc(24px * 5); font-size: 12px; }
  .level_6 { padding-left: calc(24px * 6); font-size: 11px; }
  .level_7 { padding-left: calc(24px * 7); font-size: 11px; }
  .level_8 { padding-left: calc(24px * 8); font-size: 11px; }

  .search { font-size: 10px; margin-left: 24px; color: #333 }
}

.active { color: #333 }
