@import "~themes/vars";

.relationHeader {
  min-width: 980px;
  display: flex; justify-content: space-between; flex-wrap: wrap;
  margin-left: 20px; margin-top: 20px; margin-right: 40px;
  .statAndAction {
    display: flex; font-size: @font-size-lg;
    margin-bottom: 10px;
    .statistics {
      font-size: @font-size-lg;
      .statCount { color: #f1742f; font-size: 15px }
    }
    .action {
      margin-left: 30px;
      label { font-size: @font-size-lg }
      .two_paths_icon, .continue_paths_icon, .stop_drag_icon, .single_extension_icon {
        width: 18px; height: 15px; z-index: 10000; float: left;
      }
      .marginRight{ margin-right: 10px; }
      button {
        .stop_drag_icon { background-position: -172px -394px; }
        .two_paths_icon { background-position: -240px -394px; }
        .continue_paths_icon { background-position: -307px -394px; }
        .single_extension_icon { background-position: -307px -394px; }
      }
      button:hover, button.selected {
        color: #ffffff;
        .stop_drag_icon { background-position: -206px -394px; }
        .two_paths_icon { background-position: -274px -394px; }
        .continue_paths_icon { background-position: -341px -394px; }
        .single_extension_icon { background-position: -341px -394px; }
      }
      .two_paths { margin-left: 10px; }
    }
  }
  .filterBlock {
    label { font-size: @font-size-lg; }
  }
}
.twoExpertPathBySearch {
  margin-top: 15px;
  button { height: 27px; }
}

:global #rgvis { box-shadow: 0 0 14px 2px rgba(99, 99, 99, 0.2) inset; }

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.text-danger {
  color: red;
}

.svgTitle {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.leftInfoZone {
  min-width: 180px;
  max-width: 300px;
  position: absolute;
  background: #ccc;
  margin-top: 20px;
  color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  .title {
    font-size: 16px;
    font-weight: bold;
  }
  .content {
    marginBottom: 8px;
  }
  .delCurrent {
    color: red;
    margin-top: -5px;
    cursor: pointer;
  }
  .paperLink {
    width: 100%;
    height: 20px;
    text-overflow: ellipsis;
  }

}

:global {
  div.tooltip {
    position: absolute;
    opacity: 0;
    padding: 0;
    background: #333;
  }
  .title {
    pointer-events: none;
    color: #fff;
    padding: 2px 5px;
  }
}
