@import "~themes/vars";

.ebBasicInfo {
  padding: 12px 18px 24px 18px;
  background-color: white;
  border: solid 1px #e5e5e5;
  margin-bottom: 5px;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);

  h1 {margin-bottom: 4px;}
  .subTitle { font-size: 14px;margin-left: 12px;}
  .infoLine {
    color: #999;
    span {margin-right: 8px;}
  }
  .desc { color: #333;margin-top: 12px; }
}
